.Tips {
    width: 50rem;
    height: 40rem;
}

.Tips .window-content {
    overflow: auto !important;
}

.tips {
    display: grid;
grid-template-columns: repeat(4, 22.925%);
padding-bottom: 1.5rem;
grid-column-gap: 1rem;
grid-row-gap: 0px;
height: fit-content;
}

.tip-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.tip-panel-close {
    color: #fff;
    width: fit-content;
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 100;
    transition: 0.1s;
    padding: 0.6rem 1.05rem;
    border-radius: 0.9rem;
    background-color: #ffffff2f;
}

.tip-panel-close:hover {
    background-color:blue;
}

.tip-content {
    z-index: 1;
    padding: 1rem 4rem;
    position: relative;
    border-radius: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tip-content img {
    border-radius: 0.9rem;
    aspect-ratio:initial;
    height: 12rem;
}


.tip {
    display: flex;
    flex-direction: column;
    transition: 0.1s;
    align-items: center;
    padding: 0.5rem 0;
    border-radius: 0.9rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid transparent;
}

.tip:hover {
    background-color: rgba(128, 128, 128, 0.493);
    border: 1px solid #8d8d8d;
}

.tip-heading {
    text-align: left;
    width: 100%;
    font-weight: BOLD;
    margin: 0.1rem 0;
    margin-top: 0.3rem;
    font-size: 0.9rem;
}



.tip-image {
    display: flex;
    justify-content: center;

}

.tip-image img {
    border-radius: 0.9rem;
}

.tip-panel .tip-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0.75rem;
}

.tip-highlight {
    background-color: #ffffff44;
    width: fit-content;
    padding: 0 0.5rem;
    border-radius: 0.9rem;
    margin: 1rem auto;
}