.launcher {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
}
.launcher .launcher-search-box .fa-search {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}
.launcher .launcher-search-box .launcher-box {
    
    background-color:transparent;
    color: #fff;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
}

.launcher .launcher-search-box ::-webkit-input-placeholder {
    color: #fff;
}