.glass-svg {
  display: none;
}

.liquidGlass-wrapper {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}

.liquidGlass-effect {
  position: absolute;
  z-index: -3;
  inset: 0;
  border-radius: 1.8rem;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  filter: url(#glass-distortion);
  -webkit-filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
  border-radius: 1.8rem;
}

.liquidGlass-tint {
  z-index: -2;
  position: absolute;
  inset: 0;
     background: var(--app-liquid-glass-bg);
  border-radius: 1.8rem;
  backdrop-filter: blur(10px);
}

.liquidGlass-shine {
  position: absolute;
  inset: 0;
  z-index: -1;

  overflow: hidden;

box-shadow: var(--app-liquid-glass-shadow);
  border-radius: 1.8rem;
}