.topbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    width: 100%;
    background-color: hsla(var(--app-color-light-hsl),.3);
    color: var(--app-color-light-contrast);
    fill: var(--app-color-light-contrast);
    backdrop-filter: blur(10px);
    padding: 0px 10px;
    border-bottom: 1px solid #5f5f5f;
}
.topbar .rt-BaseButton:where(.rt-r-size-2) {
    --base-button-classic-active-padding-top: 2px;
    --base-button-height: 100% !important;
    outline: 0 !important;
    border-radius: max(var(--radius-2), var(--radius-full));
    color: #fff;
    font-size: 10px;
    font-weight: 100;
}
.topbar .rt-BaseButton:where(.rt-r-size-2)[data-state="open"] {
    background-color: #5f5f5f;
}

.topbar-btn {
    background-color: transparent;
    color: #fff;
    width: max-content;
    border: 0 !important;
    outline: 0 !important;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    padding: 0 0.75rem;
}

.rt-BaseMenuSeparator {
    background-color: #7c7c7c;
}

.topbar-apple  {
    width: 75%;
    height: 75%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.topbar-dropdown .liquidGlass {
    border-radius: 1rem !important;
}

.topbar-app {
    font-weight: bold !important;
}

.topbar-btn:hover, .topbar-btn[aria-expanded="true"] {
    background-color: #5f5f5f5b;
}

.topbar-dropdown {
    background-color: transparent !important;
    color: #fff !important;
    padding: 0 !important;


}

.rt-BaseMenuViewport {
    padding: 0.5rem 0.5rem;
}

.rt-BaseMenuItem {
    border-radius: 0.45rem;
    transition: 0.1s;
}

.rt-BaseMenuItem:hover {
    border-radius: 0.45rem;
    background-color: #e5e5e521;
}

.rt-BaseMenuShortcut {
    color: #fff;
}
.rt-BaseMenuContent {
    box-shadow: none;
}